<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>Welcome To NightDev</h1>
      <p>Sign in to continue</p>
    </div>
    <div class="login-form ion-padding">
      
      <div class="form-input">
        <ion-icon name="mail" style="color:black;" ></ion-icon>
        <ion-item color="none">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" #email required></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="lock-closed" style="color:black;"></ion-icon>
        <ion-item color="none" >
          <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="action-buttons ion-padding">
    <ion-col>
      <ion-button type="submit" (click)="logIn(email, password)" expand="block">Login</ion-button>
      <ion-button class="signup-button" size="large" routerLink="/signup">Register</ion-button>
    </ion-col>
      <ion-button
        expand="block"
        color="warning"
        [routerLink]="['/password-reset']"
      >
        Forgot password?
      </ion-button>
  
      <ion-button   type="submit"   color="danger" (click)="authService.GoogleAuth()"  expand="block" >  Login with Google   </ion-button>
    </div>
    </div>
  </ion-content>
  